# Node / Frontend
node_modules/
dist/
build/
.npm/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# Metabase Local Download
metabase/

# dbt Build & Generated Artifacts
dbt/loanlens/target/
dbt/loanlens/dbt_packages/
dbt/loanlens/logs/
**/target/